---
import BaseLayout from "./BaseLayout.astro";

import { Picture } from "astro:assets";

const {
  title,
  description = "",
  created,
  updated = created,
  coverImage = "",
  url = "",
  tags = [],
  readingTime,
  slug,
} = Astro.props;

const allHeroImages = Object.values(
  import.meta.glob("../images/hero-images/*.{jpeg,jpg,png,webp}", {
    eager: true,
  })
);

const matchingImage = allHeroImages.find((imageModule) => {
  // Get the imported file's path (e.g., '/src/assets/hero-images/my-first-post.jpg')
  const imagePath = imageModule.default.src;
  // Check if the image path includes the post slug
  return imagePath.includes(slug);
});

const heroImageModule = matchingImage?.default;
---

<BaseLayout
  title={title}
  description={description}
  url={url}
  ogImage={coverImage}
  isBlogPost={true}
  blogPostData={{
    title,
    description,
    logo: coverImage,
    coverImage,
    created,
    updated,
  }}
>
  <article
    class="prose dark:prose-invert prose-headings:font-semibold prose-headings:tracking-tight prose-headings:leading-tight prose-p:text-foreground/80 dark:prose-p:text-foreground/60 prose-a:text-primary dark:prose-a:text-primary/80"
  >
    <span class="hidden">
      <img
        src={`https://hitscounter.dev/api/hit?url=https%3A%2F%2Fal3xsus.github.io%2Fposts%2F${slug}%2F&label=hits&icon=app&color=%232b7ac0&message=&style=flat&tz=UTC`}
      />
    </span>

    <section class="mb-8">
      {
        coverImage && heroImageModule ? (
          <Picture
            src={heroImageModule}
            alt={`Hero image for ${title}`}
            formats={["avif", "webp"]}
            class="w-full h-auto rounded-lg mb-4"
          />
        ) : coverImage ? (
          <Picture
            src={`https://wsrv.nl/?url=${coverImage}`}
            alt={`Hero image for ${title}`}
            formats={["avif", "webp"]}
            class="w-full h-auto rounded-lg mb-4"
            inferSize={true}
          />
        ) : null
      }
    </section>
    <section class="mb-8">
      <h1 class="text-3xl font-bold tracking-tight mb-2">{title}</h1>
      {
        description && (
          <p class="text-lg italic text-foreground/80 dark:text-foreground/60 mb-4">
            {description}
          </p>
        )
      }
      <div class="flex items-center justify-center gap-4">
        <p class="text-sm text-foreground/60 dark:text-foreground/50">
          {
            new Date(created).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </p>
        ·
        <div class="flex items-center justify-center gap-1">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 105.761 122.88">
            <path
              d="M86.27 112.662c.194-19.858-6.948-33.132-16.682-39.914-3.773-2.628-7.914-4.284-12.133-4.969-4.236-.685-8.583-.408-12.747.827-13.737 4.082-25.458 18.736-25.214 44.056H86.27zm-85.361 0h9.568c-.256-27.544 12.171-44.633 27.548-51.198-15.388-6.565-27.82-23.676-27.548-51.251l-9.568.001c-.501 0-.909-.46-.909-1.026V1.024C0 .46.408 0 .909 0h103.942c.498 0 .909.46.909 1.024v8.164c0 .564-.411 1.025-.909 1.025h-9.57c.225 23.213-8.581 39.037-20.546 47.376-2.188 1.522-4.544 2.832-6.994 3.873 2.447 1.048 4.808 2.354 6.992 3.879 11.955 8.332 20.757 24.139 20.546 47.321l9.572.001c.498 0 .909.463.909 1.027v8.162c0 .564-.411 1.027-.909 1.027H.909c-.501 0-.909-.463-.909-1.027v-8.161c0-.566.408-1.029.909-1.029zM86.27 10.214H19.496c-.26 25.354 11.465 40.025 25.212 44.109 4.163 1.236 8.511 1.513 12.747.826 4.219-.683 8.359-2.338 12.133-4.966 9.742-6.787 16.89-20.079 16.682-39.969z"
            ></path>
          </svg>
          <p class="text-sm text-foreground/60 dark:text-foreground/50">
            {readingTime}
          </p>
        </div>
        ·
        <span class="flex items-center justify-center gap-1">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 512 512">
            <path
              fill-rule="nonzero"
              d="M255.99 0c70.68 0 134.7 28.66 181.02 74.98C483.33 121.3 512 185.31 512 256c0 70.68-28.67 134.69-74.99 181.01C390.69 483.33 326.67 512 255.99 512S121.3 483.33 74.98 437.01C28.66 390.69 0 326.68 0 256c0-70.67 28.66-134.7 74.98-181.02C121.3 28.66 185.31 0 255.99 0zm77.4 269.81c13.75-8.88 13.7-18.77 0-26.63l-110.27-76.77c-11.19-7.04-22.89-2.9-22.58 11.72l.44 154.47c.96 15.86 10.02 20.21 23.37 12.87l109.04-75.66zm79.35-170.56c-40.1-40.1-95.54-64.92-156.75-64.92-61.21 0-116.63 24.82-156.74 64.92-40.1 40.11-64.92 95.54-64.92 156.75 0 61.22 24.82 116.64 64.92 156.74 40.11 40.11 95.53 64.93 156.74 64.93 61.21 0 116.65-24.82 156.75-64.93 40.11-40.1 64.93-95.52 64.93-156.74 0-61.22-24.82-116.64-64.93-156.75z"
            ></path>
          </svg>
          <p class="text-sm text-primary">Listen (Work In Progress)</p>
        </span>
      </div>

      {
        tags.length > 0 && (
          <div class="mb-4">
            <span class="text-sm text-foreground/60 dark:text-foreground/50">
              Tags:
            </span>
            <ul class="inline-flex space-x-2 ml-2 list-none">
              {tags.map((tag: string) => (
                <li>
                  <a
                    href={`/tags/${tag}`}
                    class="text-primary dark:text-primary/80 hover:underline"
                  >
                    #{tag}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </section>
    <slot />
  </article>
</BaseLayout>
