---
import BaseLayout from "./BaseLayout.astro";

const {
  title,
  description = "",
  datePublished,
  dateModified = datePublished,
  image = "",
  url = "",
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  url={url}
  ogImage={image}
  isBlogPost={true}
  blogPostData={{
    title,
    description,
    logo: image,
    image,
    datePublished,
    dateModified,
  }}
>
  <article
    class="max-w-7xl m-auto p-auto prose dark:prose-invert prose-headings:font-semibold prose-headings:tracking-tight prose-headings:leading-tight prose-p:text-foreground/80 dark:prose-p:text-foreground/60 prose-a:text-primary dark:prose-a:text-primary/80"
  >
    <header class="mb-8">
      <p class="text-sm text-foreground/60 dark:text-foreground/50">
        Published on {new Date(datePublished).toLocaleDateString()}
      </p>
    </header>

    <slot />
  </article>
</BaseLayout>
